<h1>this is the page for Songs show.erb file</h1>

<% if flash.has?(:message) %> <%= flash[:message]%> <%end%>


<h1> Name of Song: <%=@song.name%> </h1>
Artist Name:
<a href="/artists/<%= @song.artist.slug %>">  <%= @song.artist.name %> </a>
<br><br>
<% @song.genres.each do |genre| %>
    Artist Genre:
    <a href="/genres/<%= genre.slug %>"> <%= genre.name %> </a>
<% end %>
<br><br>
    <a href="/songs/<%= @song.slug %>/edit">
        <button>Edit Song</button>
    </a>